<h1>Datafile Import</h1>

<p>Imported <%= pluralize @import.sales.count, 'record' %></p> 

<p>Total Sales: <%= @import.sales.reduce(0){|t,s| t + s.total } %>

<p>
<%= link_to "Upload another file", new_import_path %><br>
<%= link_to "Home", root_path %>
</p>